button {
  margin-right: 12px;
}

.filler {
  flex: 1 1 auto;
}

mat-card {
  margin-bottom: 12px;
}

.operators-list {
  margin-left: 16px;
  margin-bottom: 32px;
}

.spacer {
  margin-left: 24px;
}
