button {
  margin-right: 12px;
}

.filler {
  flex: 1 1 auto;
}

mat-card {
  margin-bottom: 12px;
}

mat-form-field {
  margin: 12px;
}

.list {
  margin: 12px;
}

.operators-list {
  margin-left: 12px;
}

.spacer {
  margin-left: 24px;
}
