<mat-card>
  <mat-card-header fxLayout="row" fxLayoutAlign="end start">
    <mat-card-title *ngIf="mode === 'json'">{{ rule.id }}</mat-card-title>
    <mat-card-subtitle *ngIf="mode === 'json'"> {{ rule.description }}</mat-card-subtitle>
    <div class="filler"></div>
    <button *ngIf="mode === 'rule'" button mat-flat-button color="primary" (click)="setMode('rule')">
      <mat-icon>rule</mat-icon>
    </button>
    <button *ngIf="mode === 'json'" button mat-stroked-button color="primary" (click)="setMode('rule')">
      <mat-icon>rule</mat-icon>
    </button>
    <button *ngIf="mode === 'json'" button mat-flat-button color="primary" (click)="setMode('json')">
      <mat-icon>code</mat-icon>
    </button>
    <button *ngIf="mode === 'rule'" button mat-stroked-button color="primary" (click)="setMode('json')">
      <mat-icon>code</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="mode === 'rule'" fxLayout="column" fxLayoutAlign="start stretch">
      <mat-list>
        <mat-list-item>
          <mat-form-field class="full-width">
            <mat-label>id</mat-label>
            <input required matInput [(ngModel)]="rule.id">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field class="full-width">
            <mat-label>description</mat-label>
            <input required matInput [(ngModel)]="rule.description">
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-checkbox matInput [(ngModel)]="rule.readOnLoad">readOnLoad</mat-checkbox>
            <mat-checkbox matInput [(ngModel)]="rule.monitor">monitor</mat-checkbox>
            <mat-checkbox matInput [(ngModel)]="rule.debug">debug</mat-checkbox>
          </div>
        </mat-list-item>
        <mat-list-item>
          <app-source class="full-width" [(source)]="rule.source" (target)="targetChange($event)"></app-source>
        </mat-list-item>
        <mat-list-item class="operators-list" *ngFor="let options of rule.operators">
          <div fxLayout="row" fxLayoutAlign="start center">
            <app-operator [options]="options" [source]="rule.source"></app-operator>
            <button class="spacer" mat-icon-button color="primary" (click)="removeOperator(options)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <mat-label>destination</mat-label>
            <mat-select [(ngModel)]="rule.destination">
              <mat-option [value]="'FS.event'">FS.event</mat-option>
              <mat-option [value]="'FS.setUserVars'">FS.setUserVars</mat-option>
              <mat-option [value]="'FS.identify'">FS.identify</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="mode === 'json'">
      <pre *ngIf="serialized !== ''">{{ serialized }}</pre>
      <h3 *ngIf="serialized === ''">Test the rule to create JSON</h3>
    </div>
  </mat-card-content>

  <mat-card-actions *ngIf="mode === 'rule'" fxLayout="row" fxLayoutAlign="end center">
    <!-- <button mat-flat-button color="warn">Remove</button> -->
    <div class="filler"></div>
    <button mat-flat-button color="primary" [matMenuTriggerFor]="operators" [disabled]="target === null">Add
      Operator</button>
    <button mat-flat-button color="primary" (click)="test()" [disabled]="target === null">Test</button>
  </mat-card-actions>
</mat-card>

<mat-menu #operators="matMenu">
  <button mat-menu-item *ngFor="let alias of aliases" (click)="addOperator(alias)">
    <span>{{ alias }}</span>
  </button>
</mat-menu>
