<div fxLayout="row" fxLayoutAlign="start center" [ngSwitch]="options.name">
  <button mat-icon-button color="primary" matTooltip="Drag to reorder">
    <mat-icon class="drag">drag_indicator</mat-icon>
  </button>
  <div class="name-field">{{ options.name }}</div>
  <mat-slide-toggle class="pad-right" color="primary" [(ngModel)]="operator.enabled"></mat-slide-toggle>
  <button class="pad-right" mat-icon-button color="primary" (click)="remove()">
    <mat-icon>delete</mat-icon>
  </button>
  <app-convert-options *ngSwitchCase="'convert'" [options]="options" [data]="data"></app-convert-options>
  <app-fan-out-options *ngSwitchCase="'fan-out'" [options]="options" [data]="data"></app-fan-out-options>
  <app-flatten-options *ngSwitchCase="'flatten'" [options]="options"></app-flatten-options>
  <app-insert-options *ngSwitchCase="'insert'" [options]="options"></app-insert-options>
  <app-query-options *ngSwitchCase="'query'" [options]="options"></app-query-options>
  <app-rename-options *ngSwitchCase="'rename'" [options]="options"></app-rename-options>
  <mat-form-field class="numeric-field">
    <mat-label>index</mat-label>
    <input matInput [(ngModel)]="options.index"
      matTooltip="Position of the object to convert in the operator input list">
  </mat-form-field>
</div>
