<mat-toolbar color="primary">
  <button mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Data Layer Composer</span>
  <span class="spacer"></span>
  <button mat-stroked-button matTooltip="Create new project" (click)="newProject()">
    <mat-icon>create_new_folder</mat-icon>
  </button>
  <button mat-stroked-button [matMenuTriggerFor]="loader" matTooltip="Load sample project">
    <mat-icon>folder</mat-icon>
  </button>
  <button mat-stroked-button matTooltip="Add a data layer observer rule" (click)="addRule()" [disabled]="!datalayer">
    <mat-icon>add_circle</mat-icon>
  </button>
  <button mat-stroked-button matTooltip="Clear output and logs" (click)="clear()" [disabled]="!datalayer">
    <mat-icon>restore_page</mat-icon>
  </button>
  <button mat-stroked-button matTooltip="Save data layer and rules to local storage" [disabled]="!datalayer">
    <mat-icon>save</mat-icon>
  </button>
</mat-toolbar>
<mat-drawer-container class="container" [hasBackdrop]="false" autosize>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <div mat-subheader>Data Layer Observer Settings</div>
      <mat-list-item>
        <mat-checkbox [(ngModel)]="observerService.config.previewMode" [disabled]="true">_dlo_previewMode</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox [(ngModel)]="observerService.config.readOnLoad" [disabled]="true">_dlo_readOnLoad</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox [(ngModel)]="observerService.config.validateRules" [disabled]="true">_dlo_validateRules
        </mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="sidenav" fxLayout="row" fxLayoutAlign="start stretch">
    <mat-tab-group #datalayerTabs fxFlex="40">
      <mat-tab label="Data Layer">
        <mat-card>
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field class="full-width">
              <mat-label>Data Layer Global Variable</mat-label>
              <input required matInput [(ngModel)]="variable">
            </mat-form-field>
            <button class="button-left-margin" mat-flat-button matTooltip="Copy data layer code snippet to clipboard"
              color="primary" (click)="copySnippet()">
              <mat-icon>content_copy</mat-icon>
            </button>
            <button mat-flat-button matTooltip="Paste and load data layer from clipboard" color="primary"
              (click)="pasteDataLayer()">
              <mat-icon>content_paste</mat-icon>
            </button>
            <button mat-flat-button matTooltip="Load data layer from input text" color="primary"
              (click)="load(input.innerText)">
              <mat-icon>publish</mat-icon>
            </button>
          </div>
          <div *ngIf="!datalayer">
            <h3>Follow these steps to load your data layer.</h3>
            <ol>
              <li>Update the Data Layer Global Variable based on your data layer.</li>
              <li>Click the copy button to copy JavaScript to your clipboard.</li>
              <li>In another tab, visit your site and perform any actions to prime the data layer.</li>
              <li>Run the JavaScript by pasting (<code>cmd</code> + <code>v</code> or <code>ctrl</code> +
                <code>v</code>) your clipboard into your browser's console.</li>
              <li>Hit <code>enter</code> to load the JavaScript.</li>
              <li>Click any white space in the site to run the JavaScript.</li>
              <li>Use the paste button to load the data layer here.</li>
            </ol>
          </div>
          <pre #input id="input" class="datalayer-input" contenteditable="true">{{ datalayer }}</pre>
        </mat-card>
      </mat-tab>
      <mat-tab label="Observer Output">
        <mat-card>
          <pre>{{ output }}</pre>
        </mat-card>
      </mat-tab>
      <mat-tab label="Observer Log">
        <mat-card *ngFor="let event of logs">
          <mat-icon *ngIf="event.level === 0" color="warn">error</mat-icon>
          <mat-icon *ngIf="event.level === 1" color="accent">warning</mat-icon>
          {{ event.message }}
        </mat-card>
      </mat-tab>
    </mat-tab-group>
    <mat-tab-group fxFlex="60">
      <mat-tab label="Rule Set">
        <mat-accordion multi>
          <div *ngFor="let rule of rules">
            <app-rule *ngIf="!rule.removed" [rule]="rule"></app-rule>
          </div>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-drawer-container>

<mat-menu #loader="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="adobe">
    <span>Adobe</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="ceddl">
    <span>CEDDL</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="google">
    <span>Google</span>
  </button>
</mat-menu>

<mat-menu #adobe="matMenu">
  <a mat-menu-item href="sample-adobe-app-measurement">AppMeasurement</a>
</mat-menu>

<mat-menu #ceddl="matMenu">
  <a mat-menu-item href="sample-ceddl-cart">cart</a>
  <a mat-menu-item href="sample-ceddl-page">page</a>
  <a mat-menu-item href="sample-ceddl-product">product</a>
  <a mat-menu-item href="sample-ceddl-transaction">transaction</a>
  <a mat-menu-item href="sample-ceddl-user">user</a>
</mat-menu>

<mat-menu #google="matMenu">
  <a mat-menu-item (click)="loadSample('sample-ga')">Analytics</a>
</mat-menu>
