button {
  margin-left: 4px;
  margin-right: 4px;
}

.button-left-margin {
  margin-left: 24px;
}

.button-bar {
  padding: 8px;
}

.container {
  width: 100vw;
  height: 94vh;
}

mat-accordion {
  margin: 4px;
}

mat-card {
  margin: 12px;
}

mat-expansion-panel {
  margin-bottom: 8px;
}

mat-tab-group {
  padding: 12px;
}

mat-toolbar {
  height: 6vh;
}

.sidenav {
  padding: 20px;
}

.spacer {
  flex: 1 1 auto;
}
