<button class="operator-button" mat-stroked-button color="primary" [matMenuTriggerFor]="supportedTypes">
  <mat-icon *ngIf="!insertType">more_horiz</mat-icon>
  <span *ngIf="insertType">insert</span>
</button>
<mat-form-field *ngIf="insertType === 'select'">
  <mat-label>select</mat-label>
  <input matInput [(ngModel)]="options.select" matTooltip="Property value to select">
</mat-form-field>
<mat-form-field *ngIf="insertType === 'value'">
  <mat-label>value</mat-label>
  <input matInput [(ngModel)]="options.value" matTooltip="Literal value to insert">
</mat-form-field>
<mat-form-field class="numeric-field">
  <mat-label>position</mat-label>
  <input matInput [(ngModel)]="options.position"
    matTooltip="Where to insert in the output list, negative position will insert from the end">
</mat-form-field>
<mat-menu #supportedTypes="matMenu">
  <button mat-menu-item (click)="setType('select')">select</button>
  <button mat-menu-item (click)="setType('value')">value</button>
</mat-menu>
