<mat-form-field>
  <mat-label>properties</mat-label>
  <mat-select #propertySelect required multiple matTooltip="List of properties to convert"
    (selectionChange)="selectProperty($event)">
    <mat-option *ngFor="let property of properties" [value]="property">{{ property }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label>type</mat-label>
  <mat-select [(ngModel)]="options.type" matTooltip="The desired type to convert properties to">
    <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
  </mat-select>
</mat-form-field>
